*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
body.light{
    background: white;
    color: black;
}
body.dark{
    background: #1e1e1e;
    color:white;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.header{
    display: flex;
    align-items: center;
    gap: 20px;
}
#theme-toggle{
    font-size: 1rem;
    background-color: none;
    border: none;
    color: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#theme-toggle:hover{
    transform: scale(1.2);
}
.calculator{
    background: rgba(212, 93, 93, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: 330px;
  backdrop-filter: blur(5px);

}
input#display {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  text-align: right;
  background: white;
  color: black;
}
body.dark input#display {
  background: #2c2c2c;
  color: white;
}
.display{
    background: #e8f3f3;
    border-radius: 20px;
    padding: 1rem;
    margin: 10px 0;
    font-size: 2rem;
    text-align: right;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
button{
  padding: 15px;
  border: none;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  background: #fcd2ec;
  color: #000;
  transition: transform 0.15s ease, background 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}
body.dark button {
  background: #df8490;
  color: white;
}
body.dark .equal, 
body.dark .click{
    background: #f73a73;
  color: white;
}
.equal{
    grid-column: span 2;
    border-radius: 30px;
    background-color: #d78abc;
    color: white;
}
.click{
    background-color: #d78abc;
}
@media(max-width: 400px){
    button{
        font-size: 1rem;
        padding: 0.8rem;
    }
}