body {
  background-color: black;
  margin: 3rem;
}
.project {
  background-color: rgb(40, 40, 40);
  border-radius: 1rem;
  border: 1px ridge black;
  height: 600vh;
  padding: 2rem 4rem;
}

/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  font-size: larger;
  font-weight: bolder;
  font-family: Montserrat Alternates;
}
.navbar .details {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .details img {
  width: 2rem;
  transition: transform 1s ease-in-out;
}
.navbar .details img:hover {
  transform: rotateY(360deg);
}
.navbar .details a {
  margin-left: 3rem;
  transition: all 0.15s ease;
}
.navbar .details a:hover {
  color: yellow;
  transform: scaleX(0.9);
}
.navbar .sideimg {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-right: 2rem;
  transition: all 0.15s ease;
}
.navbar .sideimg:hover {
  color: yellow;
  transform: scaleX(0.9);
}
.navbar .sideimg img {
  margin-right: 1rem;
  gap: 1rem;
  width: 2rem;
  transition: transform 1s ease-in-out;
}
.navbar .sideimg img:hover {
  transform: rotateY(360deg);
}
.navbar a {
  color: white;
  text-decoration: none;
}

/* intro section  */
.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  line-height: 0.01%;
}
.intro-section img {
  width: 16%;
  transition: transform 1.5s ease-in-out;
}
.intro-section img:hover {
  transform: rotate(360deg);
}
.intro-section h1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: Prompt;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  color: yellow;
}
.intro-section p {
  text-transform: capitalize;
  font-size: large;
  font-weight: 600;
  font-family: Montserrat Alternates;
  color: white;
}

/* selection-random-number section  */
.selecting-random-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 3rem 0;
}
.selecting-random-number h2 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Prompt;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: yellow;
}
.selecting-random-number p {
  width: 60%;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: Montserrat Alternates;
  color: white;
}
.selecting-random-number .game {
  position: relative;
}
.selecting-random-number .game img {
  width: 55%;
  border-radius: 1.5rem;
  margin-left: 10rem;
}
.selecting-random-number .game  button {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: rgb(40, 40, 40);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  font-family: Montserrat Alternates;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
}
.selecting-random-number .game:hover  button{
  opacity: 1;
  visibility: visible;
}
