* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
  font-family: "Croissant One", sans-serif;
  color: #054d1a;
}

/* navbar section */
.navbar-section {
  background-color: #4d052f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  /* z-index: 1000;
  position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}
.navbar-section .logo .gradient-color {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #ad1b70, #50263d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .roll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section .roll .circle {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: moveRowNav 5s linear infinite;
}
@keyframes moveRowNav {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(50px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.navbar-section .roll #red {
  background-color: #1a531b;
}
.navbar-section .roll #blue {
  background-color: #27ae60;
}
.navbar-section .roll #yellow {
  background-color: #2ecc71;
}
.navbar-section .roll #green {
  background-color: #58d68d;
}
.navbar-section .roll #white {
  background-color: #a9dfbf;
}
.navbar-section .nav-links {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}
.navbar-section .nav-link:hover a {
  transition: all 0.2s ease-in-out;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #2ecc71;
}
.navbar-section #about a {
  padding: 5px 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #1abc9c, #2ecc71);
  color: black;
}
/* body section  */
.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.body-section .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 2px solid #4d052f;
  width: 90%;
  color: black;
}
.body-section .box .col1 .gradient-color{
    font-size: 70px;
    font-family: Oleo Script;
    background: linear-gradient(to right, #7f5af0, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.body-section .box .col1 p{
    margin: 10px 0;
    width: 50%;
    font-size: 18px;
}
/* Footer */
.footer {
  width: 100%;
  background-color: #054d1a;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Croissant One";
  color: #ecf0f1;
  margin-top: 50px;
}
.footer-logo {
  color: #2ecc71;
  font-weight: bold;
}
.footer p {
  margin: 5px 0;
  font-size: 14px;
}
@media (max-width: 600px) {
  .footer p {
    font-size: 13px;
  }
}
