* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Croissant One", sans-serif;
  background-color: #1d1d1d;
  height: fit-content;
  width: 100%;
}
body.active {
  background-color: white;
}
/* navbar section */
.navbar-section {
  padding: 0 4rem;
  background-color: #f1c40f; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 100%;
}
.navbar-section .logo .gradient-color img {
  width: 17%;
  animation: bounceLogo 0.6s infinite;
}
@keyframes bounceLogo {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-10px);
    animation-timing-function: ease-out;
  }
}
.navbar-section .logo .gradient-color {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #f39c12, #d35400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .roll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section .roll .circle {
  margin: 0 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: moveRowNav 5s linear infinite;
}
@keyframes moveRowNav {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(50px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.navbar-section .roll #red {
  background-color: #f39c12;
}
.navbar-section .roll #blue {
  background-color: #f7dc6f;
}
.navbar-section .roll #yellow {
  background-color: #e2c657;
}

.navbar-section .nav-links {
  gap: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: #4d052f;
  font-size: 15px;
  font-family: Croissant One;
  text-transform: capitalize;
}
.navbar-section .nav-link:hover a {
  transition: all 0.2s ease-in-out;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #f39c12;
  color: #4d052f;
}
.navbar-section #about a {
  padding: 5px 18px;
  border-radius: 5px;
  background: linear-gradient(to right, #998b51, #f1c40f);
  color: #4d052f;
}
/* SIDEBAR  */
.sidebar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -300px;
  width: 90px;
  height: 100vh;
  background-color: #f1c40f;
  padding: 10px;
  z-index: 1000;
  overflow-y: auto;
  transition: left 0.2s ease, opacity 0.4s ease;
  pointer-events: none; /* Prevent interaction while hidden */
}
/* visiblity of sidebar */
.sidebar.active {
  left: 0;
  opacity: 1;
  pointer-events: auto; /*responds to pointer events normally */
}
/* close sidebar  */
#closeSidebarBtn {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/* home  */
#homepage img {
  width: 50%;
  margin: 0 15px;
}
/* slider  */
#toggle {
  width: 40px;
  height: 17px;
  background-color: #d85d0c;
  border: none;
  border-radius: 18px;
}
#slider {
  width: 13px;
  height: 13px;
  margin: 2px;
  background-color: white;
  transition: margin 1s;
  border-radius: 50%;
  float: right;
}
/* When active, slide it right */
.sidebar.active #slider {
  margin-right: calc(100% - 15px);
}
/* signin and login form */
.details {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.login,
.signin {
  background-color: #d85d0c;
  border-radius: 8px;
  font-size: small;
  padding: 10px 7px;
}
/* login and signin icon  */
.login img {
  margin: 0 auto;
  width: 35%;
  animation: bounceLogin 0.5s infinite;
}
.signin img {
  margin: 0 auto;
  width: 35%;
  animation: bounceSignin 0.5s infinite;
}
/* keyframe bounceLogin  */
@keyframes bounceLogin {
  0%,
  100% {
    transform: translateX(-6px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
/* keyframe bounceSignin  */
@keyframes bounceSignin {
  0%,
  100% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.signin p,
.login p {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  font-family: Croissant One;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.signin p:hover,
.login p:hover {
  transform: scale(1.05);
  color: white;
  font-weight: 900;
}
.login-form,
.signin-form {
  background-color:#d85d0c;
  position: absolute;
  top: 85px;
  left: 100px;
  width: 400px;
  height: fit-content;
  display: none;
  border-radius: 15px;
  padding: 30px 25px;
  color: black;
  font-family: Croissant One;
  transition: all 0.4s ease;
}
.login-form input,
.signin-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: #cbbacc;
  color: black;
  font-size: 15px;
  font-family: Croissant One;
  transition: background-color 0.3s ease;
}
.login-form input:focus,
.signin-form input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.login-form label,
.signin-form label {
  font-family: Croissant One;
  font-weight: 500;
  display: inline;
}
.login-form input[type="submit"],
.signin-form input[type="submit"] {
  background: linear-gradient(to right, #f0b9c7, #a076b0);
  font-family: Croissant One;
  color: black;
  font-weight: bold;
  font-size: larger;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.login-form input[type="submit"]:hover,
.signin-form input[type="submit"]:hover {
  transform: scale(1.05);
}
/* Button to Top */
.top {
  position: fixed;
  bottom: 20px;
  left: 27px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color:#d85d0c;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2000;
  animation: bounce 0.8s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-15px);
    animation-timing-function: ease-out;
  }
}
/* body section  */
.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 50px 50px;
}
.body-section .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#d85d0c;
}
.body-section .box .col1 .gradient-color {
  font-size: 70px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #f39c12, #f1c40f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-section .box .col1 p {
  margin: 10px 0;
  width: 80%;
  font-size: 18px;
}
.body-section .box .col1 ul {
  margin: 20px 0;
  list-style-type: none;
}
.body-section .box .col1 li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  font-size: 15px;
}
.body-section .box .col1 li::before {
  content: "✅";
  position: absolute;
  left: 0;
  top: 0;
}
.body-section .box .col1 button {
  border: none;
  padding: 13px 40px;
  background-color: #f1c40f;
  color: #d85d0c;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Croissant One";
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.body-section .box .col1 button:hover {
  background-color: #f39c12;
}
.body-section .box .social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin: 10px 0;
}
.body-section .box .social-icons a img {
  width: 39px;
  height: 39px;
}
.body-section .box .col2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 0;
  width: 150%;
  max-width: 1300px;
  margin: auto;
}
.body-section .box .col2 > div {
  overflow: hidden;
}
.body-section .box .col2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.col2 .a {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.col2 .b {
  grid-column: 3 / span 2;
  grid-row: 1;
}
.col2 .c {
  grid-column: 3;
  grid-row: 2 / span 2;
}
.col2 .d {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.col2 .e {
  grid-column: 4;
  grid-row: 2 / span 2;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #f1c40f;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Croissant One";
  color: #4d052f;
  margin-top: 50px;
}
.footer-logo {
  color: #d35400;
  font-weight: bold;
}
.footer p {
  margin: 5px 0;
  font-size: 14px;
}
@media (max-width: 600px) {
  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .navbar-section {
    flex-direction: row;
    align-items: center;
    height: auto;
  }
  .navbar-section .roll {
    display: none;
  }
  .navbar-section .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .hamburger div {
    width: 33px;
    height: 3.8px;
    background-color: #d85d0c;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    transform-origin: center;
  }
  .hamburger.active {
    transform: rotate(270deg);
  }
  .hamburger.active div:nth-child(1) {
    transform: scale(1.1) rotate(45deg) translate(5.5px, 5.5px);
  }
  .hamburger.active div:nth-child(2) {
    transform: scale(0.3);
    opacity: 0;
  }
  .hamburger.active div:nth-child(3) {
    transform: scale(1.1) rotate(-45deg) translate(5.5px, -5.5px);
  }
  /* hamburger onclick section  */
  .navbar-section .nav-link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Croissant One;
    text-transform: capitalize;
  }
  .navbar-section .nav-link:hover a {
    transition: all 0.2s ease-in-out;
    background-color:#d85d0c;
    padding: 5px 30px;
    border-radius: 5px;
  }
  .nav-links {
    display: none;
  }
  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 85px;
    right: 5px;
    width: 200px;
    height: 300px;
  }
  .body-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 50px 50px;
  }
  .body-section .box .col1 .gradient-color {
    font-size: 50px;
  }
  .body-section .box .col1 p {
    width: 75%;
    font-size: 15px;
  }
  .body-section .box .col1 li {
    width: 65%;
    font-size: 13px;
  }
  .body-section .box .col1 button {
    padding: 10px 30px;
  }
  .body-section .box .social-icons a img {
    width: 35px;
    height: 35px;
  }
  .body-section .box .col2 {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3, 170px);
    width: 150%;
    max-width: 1300px;
  }
}
@media (max-width: 425px) {
  .sidebar {
    width: 80px;
  }
  .login-form,
  .signin-form {
    width: 300px;
  }
  .login,
  .signin {
    padding: 7px 5px;
  }
  /* login and signin icon  */
  .login img {
    width: 30%;
  }
  .signin img {
    width: 30%;
  }
  .signin p,
  .login p {
    font-size: 12px;
  }
  .top {
    bottom: 2px;
    left: 22px;
  }
  .navbar-section {
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 0;
  }
  .navbar-section .roll {
    display: none;
  }
  .navbar-section .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .hamburger div {
    width: 33px;
    height: 3.8px;
    background-color: #d85d0c;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    transform-origin: center;
  }
  .hamburger.active {
    transform: rotate(270deg);
  }
  .hamburger.active div:nth-child(1) {
    transform: scale(1.1) rotate(45deg) translate(5.5px, 5.5px);
  }
  .hamburger.active div:nth-child(2) {
    transform: scale(0.3);
    opacity: 0;
  }
  .hamburger.active div:nth-child(3) {
    transform: scale(1.1) rotate(-45deg) translate(5.5px, -5.5px);
  }
  /* hamburger onclick section  */
  .navbar-section .nav-link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Croissant One;
    text-transform: capitalize;
  }
  .navbar-section .nav-link:hover a {
    transition: all 0.2s ease-in-out;
    background-color:#d85d0c;
    padding: 5px 30px;
    border-radius: 5px;
  }
  .nav-links {
    display: none;
  }
  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 85px;
    right: 5px;
    width: 200px;
    height: 300px;
  }
  .body-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
  }
  .body-section .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#d85d0c;
  }
  .body-section .box .col1 .gradient-color {
    text-align: center;
    font-size: 50px;
  }
  .body-section .box .col1 p {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .body-section .box .col1 ul{
    margin: 4rem 0;
  }
  .body-section .box .col1 li {
    width: 100%;
    font-size: 15px;
  }
  .body-section .box .col1 button {
    padding: 10px 30px;
  }
  .body-section .box .social-icons a img {
    width: 35px;
    height: 35px;
  }
  .body-section .box .col2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 170px);
    width: 100%;
    max-width: 1300px;
  } 
  .col2 .a {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .col2 .b {
    grid-column: 3 / span 2;
    grid-row: 1;
  }
  .col2 .c {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  .col2 .e {
    grid-column: 3 / span 3;
    grid-row: 2 / span 3 ;
  }
  .col2 .d {
    grid-column: 1 / span 4;
    grid-row: 4 / span 4;
  }
}