* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  height: fit-content;
  width: 100%;
}
/* Hamburger Menu */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger div {
  width: 40px;
  height: 5px;
  background-color: rgb(240, 63, 122);
  border-radius: 5px;
  transition: all 0.4s ease;
}
.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5.5px, 6px);
}
.hamburger.active div:nth-child(2) {
  opacity: 0;
}
.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
.nav-links {
  display: none;
}
.nav-links.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: black;
  position: absolute;
  top: 85px;
  right: 5px;
  width: 300px;
  height: 600px;
}
/* navbar section */
.navbar-section {
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 100%;
}
.navbar-section .logo .gradient-color {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  font-family: Oleo Script;
  background: linear-gradient(to right, rgb(240, 63, 122), #a54f65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Croissant One;
  text-transform: capitalize;
}
.navbar-section .nav-link:hover a {
  transition: all 0.2s ease-in-out;
  background-color: rgb(240, 63, 122);
  padding: 5px 50px;
  border-radius: 5px;
}
.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 63, 122);
  border-radius: 8px;
  padding: 5px 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: Croissant One;
  transition: all 0.4s ease;
}
.homepage:hover {
  color: white;
}
.homepage img {
  width: 19%;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin p,
.login p {
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: Croissant One;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.login img {
  width: 25%;
  animation: bounceLogin 0.5s infinite;
}
@keyframes bounceLogin {
  0%,
  100% {
    transform: translateX(-6px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
.signin img {
  width: 25%;
  animation: bounceSignin 0.5s infinite;
}
@keyframes bounceSignin {
  0%,
  100% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.signin,
.login {
  background-color: rgb(240, 63, 122);
  border-radius: 8px;
  padding: 7px 20px;
}
.login {
  margin-left: 10px;
}
.login-form,
.signin-form {
  background-color: rgb(196, 112, 140);
  position: absolute;
  top: 85px;
  right: 5px;
  width: 400px;
  height: fit-content;
  display: none;
  border-radius: 15px;
  padding: 30px 25px;
  color: black;
  font-family: Croissant One;
  transition: all 0.4s ease;
}
.login-form input,
.signin-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(185, 183, 183);
  color: black;
  font-size: 14px;
  font-family: Croissant One;
  transition: background-color 0.3s ease;
}

.login-form input:focus,
.signin-form input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.login-form label,
.signin-form label {
  font-family: Croissant One;
  font-weight: 500;
  display: inline;
}
.login-form input[type="submit"],
.signin-form input[type="submit"] {
  background: linear-gradient(to right, rgb(240, 63, 122), #a54f65);
  font-family: Croissant One;
  color: black;
  font-weight: bold;
  font-size: larger;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.login-form input[type="submit"]:hover,
.signin-form input[type="submit"]:hover {
  transform: scale(1.05);
}
.signin p,
.login p {
  color: black;
  font-family: Croissant One;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.signin p:hover,
.login p:hover {
  transform: scale(1.05);
  color: #ffdcdc;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}
.items .info {
  position: relative;
  overflow: hidden;
  padding: 15px 100px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgb(39, 39, 39);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
}
.items .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 63, 122);
  color: black;
  transition: all 1s ease;
  z-index: -1;
}
.items .info:hover::before {
  left: 0;
}
.items .kids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.items .kids .kidbags {
  width: 280px;
  height: 400px;
  border: 1px solid black;
}
.items .kids .kidbags img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.items .kids .kidbags .tag {
  font-size: 16px;
  font-weight: 600;
  font-family: Croissant One;
  color: black;
  text-align: center;
  margin: 3px 0;
}
.items .kids .kidbags .price {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3px;
  font-family: cursive;
}
.items .kids .kidbags button {
  border: none;
  border-radius: 8px;
  background-color: rgb(240, 63, 122);
  color: white;
  font-weight: 600;
  font-size: small;
  font-family: Croissant One;
  padding: 11px 80px;
  margin: 0 10px;
}
