* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  height: fit-content;
  width: 100%;
}
/* Hamburger Menu */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger div {
  width: 40px;
  height: 5px;
  background-color: red;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5.5px, 6px);
}
.hamburger.active div:nth-child(2) {
  opacity: 0;
}
.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
.nav-links {
  display: none;
}
.nav-links.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 50px;
  background-color: black;
  position: absolute;
  top: 85px;
  width: 100%;
}
/* navbar section */
.navbar-section {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-section .logo .gradient-color {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #ff0808, #d65252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: Croissant One;
  text-transform: capitalize;
}
.navbar-section .nav-link:hover a {
  transition: all 0.2s ease-in-out;
  color: red;
  padding: 5px 18px;
  border-radius: 5px;
  border: 2px solid white;
}
