* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(rgb(0, 0, 0), rgba(116, 185, 202, 0.112));
   */
  /* background-color: rgb(123, 59, 59); */
  height: 500vh;
  width: 100%;
}

/* navbar section */
.navbar-section {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 1000;
  height: 5rem;
}
.navbar-section .logo .gradient-color {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #ff0808, #d65252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .roll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section .roll .circle {
  margin: 0 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: moveRow 5s linear infinite;
}
@keyframes moveRow {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(50px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.navbar-section .roll #red {
  background-color: red;
}
.navbar-section .roll #blue {
  background-color: #ff0808;
}
.navbar-section .roll #yellow {
  background-color: rgb(211, 58, 58);
}
.navbar-section .roll #green {
  background-color: rgb(163, 75, 75);
}
.navbar-section .roll #white {
  background-color: rgb(236, 156, 156);
}
.navbar-section .nav-links {
  gap: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: Croissant One;
  text-transform: capitalize;
}
.navbar-section .nav-link:hover a {
  transition: all 0.6s ease-in-out;
  padding: 5px 18px;
  border-radius: 5px;
  border: 2px solid #ff0808;
}
.navbar-section #home a {
  padding: 5px 18px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff0808, #d65252);
  color: black;
}
/* welcome section */
.welcome-section {
  background-image: url("images/cart4.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome-section h1 {
  font-size: 70px;
  font-family: Pacifico;
  letter-spacing: 4px;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-8px);
    animation-timing-function: ease-out;
  }
}
.welcome-section p {
  width: 35%;
  font-family: Croissant One;
  font-size: 18px;
  margin-bottom: 100px;
}
/* grid section */
.grid-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-section .logo h1 {
  font-size: 60px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #ff0808, #d65252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-section .logo p li {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer section */
