* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: fit-content;
  width: 100%;
  /* background-color: black; */
}

/* navbar section */
.navbar-section {
  background-color: rgb(173, 162, 162);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 1000;
  height: 3.9rem;
}
.navbar-section .logo .gradient-color {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: Great Vibes;
  background: linear-gradient(to right, #9534a6, #801354);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .roll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section .roll .circle {
  margin: 0 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  animation: moveRow 2s linear infinite;
}
.navbar-section .roll .circle:nth-child(1) {
  animation-delay: 0.2s;
}
.navbar-section .roll .circle:nth-child(2) {
  animation-delay: 0.4s;
}
.navbar-section .roll .circle:nth-child(3) {
  animation-delay: 0.6s;
}
.navbar-section .roll .circle:nth-child(4) {
  animation-delay: 0.8s;
}
@keyframes moveRow {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(100px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.navbar-section .roll #red {
  background-color: red;
}
.navbar-section .roll #blue {
  background-color: blue;
}
.navbar-section .roll #yellow {
  background-color: yellow;
}
.navbar-section .roll #green {
  background-color: green;
}
.navbar-section .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-section .nav-link {
  transition: all 0.4s ease-in-out;
}
.navbar-section .nav-link:hover {
  padding: 5px;
  text-align: center;
  border: 2px solid;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.navbar-section .nav-link img {
  width: 17%;
  display: none;
}
.navbar-section .nav-link:hover img {
  display: inline;
}
/* welcome section */
.welcome-section {
  background-image: url("images/cart3.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  height: 500px;
  padding: 100px;
}
.welcome-section h1 {
  font-size: 70px;
  font-family: Pacifico;
}
/* grid section */
.grid-section {
}

/* footer section */
