* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: fit-content;
  width: 100%;
}

/* navbar section */
.navbar-section {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-section .logo .gradient-color {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  font-family: Oleo Script;
  background: linear-gradient(to right, #5f0ee2, #528bd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-section .roll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-section .roll .circle {
  margin: 0 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: moveRowNav 5s linear infinite;
}
@keyframes moveRowNav {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(50px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.navbar-section .roll #red {
  background-color: rgb(11, 11, 117);
}
.navbar-section .roll #blue {
  background-color: #001cb8;
}
.navbar-section .roll #yellow {
  background-color: rgb(44, 95, 235);
}
.navbar-section .roll #green {
  background-color: rgb(101, 152, 230);
}
.navbar-section .roll #white {
  background-color: rgb(189, 161, 255);
}
.navbar-section .nav-links {
  gap: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section .nav-link a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: Croissant One;
  text-transform: capitalize;
}
.navbar-section .nav-link:hover a {
  transition: all 0.2s ease-in-out;
  padding: 5px 18px;
  border-radius: 5px;
  border: 2px solid blue;
}
.navbar-section #services a {
  padding: 5px 18px;
  border-radius: 5px;
  background: linear-gradient(to right, #5f0ee2, #528bd6);
  color: black;
}

/* ball section  */
.roll-section .roll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.roll-section .roll .circle {
  margin: 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: moveRowFooter 5s linear infinite;
}
.roll-section .roll .circle:nth-child(1) {
  animation-delay: 0.2s;
}
.roll-section .roll .circle:nth-child(2) {
  animation-delay: 0.4s;
}
.roll-section .roll .circle:nth-child(3) {
  animation-delay: 0.6s;
}
.roll-section .roll .circle:nth-child(4) {
  animation-delay: 0.8s;
}
@keyframes moveRowFooter {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(100px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
.roll-section .roll #red {
  background-color: rgb(11, 11, 117);
}
.roll-section .roll #blue {
  background-color: #001cb8;
}
.roll-section .roll #yellow {
  background-color: rgb(44, 95, 235);
}
.roll-section .roll #green {
  background-color: rgb(101, 152, 230);
}
.roll-section .roll #white {
  background-color: rgb(189, 161, 255);
}
/* content section  */
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(images/mall.avif);
  background-size: contain;
  background-position: center;
  height: 500px;
  width: 100%;
}
.content h1 {
  font-size: 70px;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content .gradient-color {
  font-family: Oleo Script;
  background: linear-gradient(to right, #5f0ee2, #528bd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .content-link {
  display: flex;
  font-size: larger;
  font-weight: 900;
  font-family: "Croissant One";
}
.content .content-link a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  margin: 0 10px;
}
.content .content-link a:hover {
  color: #001cb8;
}
.content-section h2 {
  margin-top: 100px;
  color: white;
  font-family: "Croissant One";
}
.content-section .serving {
  font-size: 25px;
  color: white;
  font-family: "Croissant One";
}
.content-section hr {
  width: 60px;
  height: 3px;
  background-color: sienna;
  border: none;
  margin: 15px 0;
}
.content-section .about {
  margin-bottom: 30px;
  background: linear-gradient(to right, blue, #5f0ee2, #528bd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: "Croissant One";
  text-align: center;
  letter-spacing: 3px;
}
.content-section .text {
  margin-bottom: 50px;
  color: white;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 45%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3;
}
.content-section .pic {
  display: flex;
}
.content-section .pic img {
  margin: 0 auto;
  width: 30%;
}
.content-section .years {
  display: flex;
}
.content-section .devices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Croissant One";
  margin: 120px 70px;
}
.content-section .page {
  display: flex;
}
.content-section .page button {
  border: none;
  padding: 15px 25px;
  margin: 0 20px;
  background-color: #4357cc;
}
.content-section .page button a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: "Croissant One";
  font-size: large;
}
.content-section .page .button {
  border: 2px solid #4357cc;
  background-color: transparent;
}
/* photo gallery section   */
.photo-section {
  margin: 60px 100px;
}
.photo-section .gradient-color {
  font-family: Oleo Script;
  font-size: 30px;
  background: linear-gradient(to right, #5f0ee2, #528bd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.photo-section h1 {
  color: white;
  font-size: 50px;
  font-family: "Croissant One";
  margin: 20px 0;
}
.image-design {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.scroll-container {
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
  height: 200px;
  scroll-behavior: smooth;
  cursor: pointer;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container a {
  display: inline-block;
  text-decoration: none;
}
.scroll-container img {
  width: 180px;
  height: 180px;
  margin: 0 20px;
  border-radius: 5px;
  transition: transform 1s ease, filter 1s ease;
  pointer-events: auto;
}
.scroll-container:hover {
  cursor: pointer;
}
.update-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}
.update-section h2 {
  color: white;
  font-weight: 400;
  font-family: "Croissant One";
}
.update-section .decor-line {
  width: 60px;
  height: 3px;
  background-color: sienna;
  border: none;
  margin: 10px 0;
}
.update-section h1 {
  font-size: 35px;
  font-family: "Croissant One";
  color: #001cb8;
}
.update-section p {
  color: white;
  font-family: "Croissant One";
}
.update-section .mail {
  margin: 10px 0;
}
.update-section .mail input {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border: 1px solid #001cb8;
}
.update-section .mail button {
  padding: 10px 20px;
  background-color: #001cb8;
  font-family: "Croissant One";
  border: none;
  color: white;
  cursor: pointer;
}
.update-section .mail button:hover {
  background-color: #528bd6;
}
/* footer section */
.footer {
  width: 100%;
  background-color: black;
  padding: 15px 0;
  text-align: center;
  font-family: "Croissant One";
  color: #eee;
}
.footer-logo {
  color: red;
  font-weight: bold;
}
.footer p {
  margin: 5px 0;
  font-size: 14px;
}
@media (max-width: 600px) {
  .footer p {
    font-size: 13px;
  }
}
